<!DOCTYPE html>
<html>
  <head>
    <title>rack-auth-travis example</title>
    <style type="text/css">body { font-family: Menlo, monospace; }</style>
  </head>
  <body>
    <h1>rack-auth-travis example</h1>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
